aside {
  position: sticky;
  left: 0;
  top: 0;
  min-height: 100vh;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.nav-ul {
  position: relative;
  height: 85vh;
}
.nav-item {
  display: flex;
  padding: 1rem 0;
}
.nav-item a {
  margin-left: 20px;
  text-wrap: nowrap;
  color: #aaaaaa;
}
.nav-item span i {
  font-size: 1rem;
}
.logout {
  position: absolute;
  bottom: 0;
  left: 10px;
}
.dropdown {
  background-color: none;
}
