<aside class="aside bg-dark text-light">
  <div class="d-flex align-items-center alilogo">
    <h4 class="mx-2">Finshop</h4>
    <img src="../../../../assets/images/logo.png" width="40px" />
  </div>
  <hr />
  <ul class="nav-ul">
    <li class="nav-item active">
      <span><i class="bi bi-columns-gap"></i></span>
      <a href="" class="nav-link"> Dashboard</a>
    </li>
    <li class="nav-item">
      <span><i class="bi bi-bag-check-fill"></i></span>
      <div class="dropdown">
        <a
          class="btn btn-secondary dropdown-toggle"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Categories
        </a>

        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Ajouter Categories</a></li>
          <li><a class="dropdown-item" href="#">Tout les catégories</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <span><i class="bi bi-bag-check-fill"></i></span>
      <a href="" class="nav-link">commande client</a>
    </li>
    <li class="nav-item">
      <span><i class="bi bi-boxes"></i></span>
      <a href="" class="nav-link">Produits</a>
    </li>

    <li class="nav-item">
      <span><i class="bi bi-person-fill-gear"></i></span>
      <a href="" class="nav-link"> clients</a>
    </li>
    <li class="nav-item">
      <span><i class="bi bi-ui-checks-grid"></i></span>
      <a href="" class="nav-link"> Catégories Produits</a>
    </li>
    <li class="nav-item">
      <span><i class="bi bi-currency-exchange"></i></span>
      <a href="" class="nav-link">Ventes</a>
    </li>

    <li class="nav-item logout">
      <a href="" class="nav-link"
        ><i class="bi bi-box-arrow-right text-white fs-5"></i> Déconnection</a
      >
    </li>
  </ul>
</aside>
