<h4 class="p-3">welcome to your Dashboard 👋</h4>
<section class="table">
  <div class="container">
    <div class="table-title">
      <h6>Commande clients</h6>
    </div>
    <div class="table-body">
      <table class="table-striped">
        <!-- TABLE HEADER -->
        <thead>
          <tr>
            <th>Id</th>
            <th>Client</th>
            <th>Addresse</th>
            <th>Date Commande</th>
            <th>Montant</th>
            <th>Etat</th>
          </tr>
        </thead>
        <!-- TABLE BODY -->
        <tbody>
          <tr>
            <td>1</td>
            <td>
              <img src="../../../../assets/profile/person2.jpg" alt="" />
              Aminata Fall
            </td>
            <td>Dakar/Parcelles</td>
            <td>
              <p>12 / Juilet / 2024</p>
            </td>
            <td>54.500 Fcfa</td>
            <div class="d-flex">
              <td class="text-success">Valider</td>
              <td class="text-danger">Rejeter</td>
            </div>
          </tr>
          <tr>
            <td>2</td>
            <td>
              <img src="../../../../assets/profile/person3.jpg" alt="" />
              Aminata Fall
            </td>
            <td>Dakar/Parcelles</td>
            <td>
              <p>12 / Juilet / 2024</p>
            </td>
            <td>54.500 Fcfa</td>
            <div class="d-flex">
              <td class="text-success">Valider</td>
              <td class="text-danger">Rejeter</td>
            </div>
          </tr>
          <tr>
            <td>2</td>
            <td>
              <img src="../../../../assets/profile/person3.jpg" alt="" />
              Aminata Fall
            </td>
            <td>Dakar/Parcelles</td>
            <td>
              <p>12 / Juilet / 2024</p>
            </td>
            <td>54.500 Fcfa</td>
            <div class="d-flex">
              <td class="text-success">Valider</td>
              <td class="text-danger">Rejeter</td>
            </div>
          </tr>
          <tr>
            <td>3</td>
            <td>
              <img src="../../../../assets/profile/person3.jpg" alt="" />
              Aminata Fall
            </td>
            <td>Dakar/Parcelles</td>
            <td>
              <p>12 / Juilet / 2024</p>
            </td>
            <td>54.500 Fcfa</td>
            <div class="d-flex">
              <td class="text-success">Valider</td>
              <td class="text-danger">Rejeter</td>
            </div>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
<!-- <div class="container-fluid">
  <h4>Statistiques</h4>
  <div class="grid mt-4">
    <div class="card py-3 px-2">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
          <div>
            <span class="h5 text-black-50 fs-5">Nombre de vente</span>
            <h2>350.857</h2>
          </div>
          <div class="icons">
            <i class="bi bi-bag-check-fill"></i>
          </div>
        </div>
        <div>
          <span class="text-success">348%</span>
          <span class="mx-3 text-black-50">ce mois ci </span>
        </div>
      </div>
    </div>
  </div>
</div> -->
