<section class="bg-white">
  <div class="container">
    <div class="table-title p-2 bg-white">
      <h5>Commande clients</h5>
      <hr />
    </div>
    <div class="table-body">
      <ng-container *ngIf="orders$ | async as orders">
        <table class="table-striped">
          <thead class="bg-warning text-black-50 rounded-2 shadow-sm">
            <tr>
              <th>Image</th>
              <th>Nom produit</th>
              <th>Client</th>
              <th>Quantité</th>
              <th>Prix unitaire</th>
              <th>Statut</th>
              <th>actions</th>
            </tr>
          </thead>
          <!-- TABLE BODY -->
          <tbody>
            <tr *ngFor="let data of orders">
              <td>
                <!-- <img [src]="data.product?.images[0]" class="h-10 w-10" /> -->
              </td>
              <td>{{ data.product?.name }}</td>
              <td>
                <p>{{ data.user?.firstname + " " + data.user?.lastname }}</p>
              </td>
              <td>{{ data.quantity }}</td>
              <td>{{ data.product?.price }} Fcfa</td>
              <div class="d-flex">
                <td class="text-success">Valider</td>
                <td class="text-danger">Rejeter</td>
              </div>
            </tr>
          </tbody>
        </table>
      </ng-container>
    </div>
  </div>
</section>
