<section class="bg-white">
  <div class="container">
    <div class="table-title p-2 bg-white">
      <h5>Commande clients</h5>
      <hr />
    </div>
    <div class="table-body">
      <table class="table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Client</th>
            <th>Addresse</th>
            <th>Date Commande</th>
            <th>Montant</th>
            <th>Etat</th>
          </tr>
        </thead>
        <!-- TABLE BODY -->
        <tbody>
          <tr>
            <td>1</td>
            <td>
              <img src="../../../../assets/profile/person2.jpg" alt="" />
              Aminata Fall
            </td>
            <td>Dakar/Parcelles</td>
            <td>
              <p>12 / Juilet / 2024</p>
            </td>
            <td>54.500 Fcfa</td>
            <div class="d-flex">
              <td class="text-success">Valider</td>
              <td class="text-danger">Rejeter</td>
            </div>
          </tr>
          <tr>
            <td>2</td>
            <td>
              <img src="../../../../assets/profile/person3.jpg" alt="" />
              Aminata Fall
            </td>
            <td>Dakar/Parcelles</td>
            <td>
              <p>12 / Juilet / 2024</p>
            </td>
            <td>54.500 Fcfa</td>
            <div class="d-flex">
              <td class="text-success">Valider</td>
              <td class="text-danger">Rejeter</td>
            </div>
          </tr>
          <tr>
            <td>2</td>
            <td>
              <img src="../../../../assets/profile/person3.jpg" alt="" />
              Aminata Fall
            </td>
            <td>Dakar/Parcelles</td>
            <td>
              <p>12 / Juilet / 2024</p>
            </td>
            <td>54.500 Fcfa</td>
            <div class="d-flex">
              <td class="text-success">Valider</td>
              <td class="text-danger">Rejeter</td>
            </div>
          </tr>
          <tr>
            <td>3</td>
            <td>
              <img src="../../../../assets/profile/person3.jpg" alt="" />
              Aminata Fall
            </td>
            <td>Dakar/Parcelles</td>
            <td>
              <p>12 / Juilet / 2024</p>
            </td>
            <td>54.500 Fcfa</td>
            <div class="d-flex">
              <td class="text-success">Valider</td>
              <td class="text-danger">Rejeter</td>
            </div>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
