<app-header></app-header>
<!-- app.component.html -->
<app-carousel [images]="images"></app-carousel>
<div class="container">
  <h3 class="text-center py-2">Votre satisfaction est tout ce qui compte</h3>

  <div class="container">
    <div class="liste-produts product">
      <!-- FIRST CART -->
      <div class="box py-2 py-4">
        <!-- <span>40%</span> -->
        <div class="card-img">
          <img
            src="../../../assets/images/femmes/shampoing.webp"
            width="150px"
            height="100px"
            alt=""
          />
        </div>
        <div class="card-body mb-2">
          <h6>Pull coton resistant</h6>
          <h5>14.500 FCFA</h5>
          <div class="d-flex justify-content-between align-items-center">
            <del class="text-danger">15.000</del>
            <i class="bi bi-cart-fill fs-4 text-warning"></i>
          </div>
        </div>
      </div>
      <!-- END OF THE CARD -->
      <div class="box py-2 py-4">
        <!-- <span>40%</span> -->
        <div class="card-img">
          <img
            src="../../../assets/images/femmes/img1.png"
            width="150px"
            height="100px"
            alt=""
          />
        </div>
        <div class="card-body mb-2">
          <h6>Pull coton resistant</h6>
          <h5>14.500 FCFA</h5>
          <del>15.000</del>
        </div>
      </div>
      <!-- END OF THE CARD -->
      <div class="box py-2 py-4">
        <!-- <span>40%</span> -->
        <div class="card-img">
          <img
            src="../../../assets/images/femmes/img3.png"
            width="150px"
            height="100px"
            alt=""
          />
        </div>
        <div class="card-body mb-2">
          <h6>Pull coton resistant</h6>
          <h5>14.500 FCFA</h5>
          <div class="d-flex justify-content-between align-items-center">
            <del class="text-danger">15.000</del>
            <i class="bi bi-cart-fill fs-4 text-warning"></i>
          </div>
        </div>
      </div>
      <!-- END OF THE CARD -->
      <div class="box py-2 py-4">
        <!-- <span>40%</span> -->
        <div class="card-img">
          <img
            src="../../../assets/images/femmes/font.jpg"
            width="150px"
            height="100px"
            alt=""
          />
        </div>
        <div class="card-body mb-2">
          <h6>Pull coton resistant</h6>
          <h5>14.500 FCFA</h5>
          <div class="d-flex justify-content-between align-items-center">
            <del class="text-danger">15.000</del>
            <i class="bi bi-cart-fill fs-4 text-warning"></i>
          </div>
        </div>
      </div>
      <!-- END OF THE CARD -->
      <div class="box py-2 py-4">
        <!-- <span>40%</span> -->
        <div class="card-img">
          <img
            src="../../../assets/images/femmes/pull2.webp"
            width="150px"
            height="100px"
            alt=""
          />
        </div>
        <div class="card-body mb-2">
          <h6>Pull coton resistant</h6>
          <h5>14.500 FCFA</h5>
          <div class="d-flex justify-content-between align-items-center">
            <del class="text-danger">15.000</del>
            <i class="bi bi-cart-fill fs-4 text-warning"></i>
          </div>
        </div>
      </div>
      <div class="box py-2 py-4">
        <!-- <span>40%</span> -->
        <div class="card-img">
          <img
            src="../../../assets/images/femmes/gloss.jpg"
            width="150px"
            height="100px"
            alt=""
          />
        </div>
        <div class="card-body mb-2">
          <h6>Pull coton resistant</h6>
          <h5>14.500 FCFA</h5>
          <div class="d-flex justify-content-between align-items-center">
            <del class="text-danger">15.000</del>
            <i class="bi bi-cart-fill fs-4 text-warning"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Categories Beauté -->
<section>
  <div class="container">
    <div
      class="bg-warning mt-2 p-2 d-flex justify-content-between align-items-center"
    >
      <h5>Meilleures offres Beauté</h5>
      <h6>voir Plus <i class="bi bi-chevron-right"></i></h6>
    </div>

    <div class="liste-produts product">
      <div class="box box-2 py-2 px-2 rounded-2 mt-1">
        <span class="percent"> -40%</span>
        <div class="card-img">
          <img
            src="../../../assets/beauté/byphase.jpg"
            width="150px"
            height="100px"
            alt=""
          />
        </div>
        <div class="card-body mb-2">
          <p>Pull coton resistant</p>
          <h5>14.500 FCFA</h5>
          <del class="text-danger">15.000</del>
        </div>
      </div>
      <div class="box box-2 py-2 px-2 rounded-2 mt-1">
        <span class="percent"> -40%</span>
        <div class="card-img">
          <img
            src="../../../assets/beauté/GARNIER.jpg"
            width="150px"
            height="100px"
            alt=""
          />
        </div>
        <div class="card-body mb-2">
          <p>Pull coton resistant</p>
          <h5>14.500 FCFA</h5>
          <del class="text-danger">15.000</del>
        </div>
      </div>
      <div class="box box-2 py-2 px-2 rounded-2 mt-1">
        <span class="percent"> -40%</span>
        <div class="card-img">
          <img
            src="../../../assets/beauté/vaseline.jpg"
            width="150px"
            height="100px"
            alt=""
          />
        </div>
        <div class="card-body mb-2">
          <p>Pull coton resistant</p>
          <h5>14.500 FCFA</h5>
          <del class="text-danger">15.000</del>
        </div>
      </div>
      <div class="box box-2 py-2 px-2 rounded-2 mt-1">
        <span class="percent"> -40%</span>
        <div class="card-img">
          <img
            src="../../../assets/beauté/poudre.webp"
            width="150px"
            height="100px"
            alt=""
          />
        </div>
        <div class="card-body mb-2">
          <p>Pull coton resistant</p>
          <h5>14.500 FCFA</h5>
          <del class="text-danger">15.000</del>
        </div>
      </div>
      <div class="box box-2 py-2 px-2 rounded-2 mt-1">
        <span class="percent"> -40%</span>
        <div class="card-img">
          <img
            src="../../../assets/beauté/fontdeteint.jpg"
            width="150px"
            height="100px"
            alt=""
          />
        </div>
        <div class="card-body mb-2">
          <p>Pull coton resistant</p>
          <h5>14.500 FCFA</h5>
          <del class="text-danger">15.000</del>
        </div>
      </div>
      <div class="box box-2 py-2 px-2 rounded-2 mt-1">
        <span class="percent"> -40%</span>
        <div class="card-img">
          <img
            src="../../../assets/beauté/cerave.avif"
            width="150px"
            height="100px"
            alt=""
          />
        </div>
        <div class="card-body mb-2">
          <p>Pull coton resistant</p>
          <h5>14.500 FCFA</h5>
          <del class="text-danger">15.000</del>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container-fluid">
  <h4 class="text-center">Nos collections Nike</h4>
  <div class="grid">
    <img src="../../../assets/images/img5.png" alt="" />
    <img src="../../../assets/images/img4.png" alt="" />
    <img src="../../../assets/images/img0.png" alt="" />
    <img src="../../../assets/images/../images/img3.png" alt="" />
    <img src="../../../assets/images/img2.png" alt="" />
    <img src="../../../assets/images/img1.png" alt="" />
  </div>
</div>

<!-- listes Produits -->
<section class="container">
  <h3 class="text-center text-dark mt-2">Nos Produits</h3>
  <app-listes-produits></app-listes-produits>
</section>

<app-footer></app-footer>
