<section class="table">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center mb-2">
      <h6>Mes Produits</h6>
      <button class="btn" routerLink="/ajout-produit">
        Ajouter un Produit
      </button>
    </div>
    <div class="table-body" *ngIf="products$ | async as product">
      <table class="table-striped">
        <!-- TABLE HEADER -->
        <thead class="p-2">
          <tr>
            <th>Image</th>
            <th>Nom produit</th>
            <th>description</th>
            <th>Categorie</th>
            <th>Prix Unitaire</th>
            <th>Action</th>
          </tr>
        </thead>
        <!-- TABLE BODY -->
        <tbody *ngFor="let data of product">
          <tr>
            <td>
              <!-- <img
                src="../../../../assets/images/femmes/shampoing.webp"
                alt=""
              /> -->
            </td>
            <td>{{ data.name }}</td>
            <td class="w-25 descr">
              <p>
                {{ data.description }}
              </p>
            </td>
            <td>{{ data.category.name }}</td>
            <td>{{ data.price | currency : "XOF" }}</td>
            <div class="d-flex">
              <td class="text-success"><i class="bi bi-pencil-square"></i></td>
              <td class="text-danger"><i class="bi bi-trash3-fill"></i></td>
            </div>
          </tr>
          <!-- <tr>
            <td>1</td>
            <td>
              <img
                src="../../../../assets/images/femmes/shampoing.webp"
                alt=""
              />
            </td>
            <td>Biophare teint eclatant</td>
            <td class="w-25 descr">
              <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Dolorem quisquam dignissimos distinctio, enim pariatur
                reprehenderit tempora et fuga sunt tenetur libero ea.
              </p>
            </td>
            <td>54.500 Fcfa</td>
            <div class="d-flex">
              <td class="text-success"><i class="bi bi-pencil-square"></i></td>
              <td class="text-danger"><i class="bi bi-trash3-fill"></i></td>
            </div>
          </tr>
          <tr>
            <td>1</td>
            <td>
              <img
                src="../../../../assets/images/femmes/shampoing.webp"
                alt=""
              />
            </td>
            <td>Biophare teint eclatant</td>
            <td class="w-25 descr">
              <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Dolorem quisquam dignissimos distinctio, enim pariatur
                reprehenderit tempora et fuga sunt tenetur libero ea.
              </p>
            </td>
            <td>54.500 Fcfa</td>
            <div class="d-flex">
              <td class="text-success"><i class="bi bi-pencil-square"></i></td>
              <td class="text-danger"><i class="bi bi-trash3-fill"></i></td>
            </div>
          </tr> -->
        </tbody>
      </table>
    </div>
  </div>
</section>
