<div class="container p-4">
  <div class="row">
    <div class="col-md-4">
      <h5>Categories</h5>
      <h6>Nom</h6>
      <div class="input-group">
        <br />
        <br />
        <input
          type="text"
          name="text"
          class="form-control"
          placeholder="Nom de la Categorie"
        />
      </div>
      <h6>Slug (optional)</h6>
      <div class="input-group">
        <br />
        <input type="text" name="text" class="form-control" placeholder="slu" />
      </div>
      <h6>Description</h6>
      <div class="input-group">
        <br />
        <textarea
          name=""
          id=""
          cols="30"
          rows="5"
          class="form-control"
        ></textarea>
      </div>
      <button class="btn btn-success mt-2 d-block">Ajouter categories</button>
    </div>
    <div class="col-md-7">
      <h5 class="mb-2">listes Categories</h5>
      <table class="table table-centered mb-0">
        <thead class="table-dark table-striped">
          <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Description</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Beauté et bien etre</td>
            <td class="w-50">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Exercitationem tempore praesentium, quis unde harum nulla,
              </p>
            </td>
            <td>
              <a href="" class="text-success mx-2">editer</a>
              <a href="" class="text-danger">supprimer</a>
            </td>
          </tr>
          <tr>
            <td>1</td>
            <td>Beauté et bien etre</td>
            <td class="w-50">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Exercitationem tempore praesentium, quis unde harum nulla,
              </p>
            </td>
            <td>
              <a href="" class="text-success mx-2">editer</a>
              <a href="" class="text-danger">supprimer</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
