<div class="container-fluid">
  <div class="grid mt-4">
    <div class="card py-3 px-2">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
          <div>
            <span class="h5 text-black-50 fs-5">Nombre de vente</span>
            <h2>350.857</h2>
          </div>
          <div class="icons">
            <i class="bi bi-bag-check-fill"></i>
          </div>
        </div>
        <div>
          <span class="text-success">348%</span>
          <span class="mx-3 text-black-50">ce mois ci </span>
        </div>
      </div>
    </div>
    <div class="card py-3 px-2">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
          <div>
            <span class="h5 text-black-50 fs-5">Nombre de vente</span>
            <h2>350.857</h2>
          </div>
          <div class="icons">
            <i class="bi bi-bag-check-fill"></i>
          </div>
        </div>
        <div>
          <span class="text-success">348%</span>
          <span class="mx-3 text-black-50">ce mois ci </span>
        </div>
      </div>
    </div>
    <div class="card py-3 px-2">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
          <div>
            <span class="h5 text-black-50 fs-5">Nombre de vente</span>
            <h2>350.857</h2>
          </div>
          <div class="icons">
            <i class="bi bi-bag-check-fill"></i>
          </div>
        </div>
        <div>
          <span class="text-success">348%</span>
          <span class="mx-3 text-black-50">ce mois ci </span>
        </div>
      </div>
    </div>
  </div>
</div>
<app-commande></app-commande>
