*,
*::before,
*::after {
  box-sizing: border-box;
}
/* color: #8898aa; */
.grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card {
  border-radius: 10px;
  width: 30%;
  border: 0;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.icons {
  width: 40px;
  height: 40px;
  padding: 1rem;
  background-color: #4646e7;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #fff;
}
