<footer class="footer my-5 text-white text-center text-lg-start bg-dark">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row mt-4">
      <!--Grid column-->
      <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-4">A propos</h5>

        <p>
          Bienvenue sur FineShop, votre destination ultime pour trouver les
          dernières tendances en matière de chaussures de qualité.<br />
          Chez FineShop, nous nous engageons à vous offrir une sélection
          soigneusement choisie de chaussures qui allient style, confort et
          qualité.
        </p>
        <!-- SOcials liNKS -->
        <div class="mt-4">
          <img src="assets/image/face.png" width="30px" alt="" />
          <img src="assets/image/google.png" width="30px" alt="" />
          <img src="assets/image/insta.png" width="30px" alt="" />
          <img src="assets/image/linkdin.png" width="30px" alt="" />
        </div>
      </div>

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-4 pb-1">Rechercher nous</h5>

        <div class="form-outline form-white mb-4 d-flex">
          <input
            type="text"
            id="formControlLg"
            class="form-control form-control-lg"
            placeholder="recherche"
          />
          <button type="submit" class="btn btn-danger">Search</button>
        </div>

        <ul class="fa-ul" style="margin-left: 1.65em">
          <li class="mb-3">
            <span class="fa-li"><i class="fas fa-home"></i></span
            ><span class="ms-2">Dakar, villa 72, Sénégal</span>
          </li>
          <li class="mb-3">
            <span class="fa-li"><i class="fas fa-envelope"></i></span
            ><span class="ms-2">findshopgmail.com</span>
          </li>
          <li class="mb-3">
            <span class="fa-li"><i class="fas fa-phone"></i></span
            ><span class="ms-2">+ 22133 567 88 45</span>
          </li>
        </ul>
      </div>
      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-4">Heure d'ouverture</h5>

        <table class="table text-center text-white rounded-3 shadow">
          <tbody class="fw-normal">
            <tr>
              <td>Lundi - Jeudi:</td>
              <td>8am - 9pm</td>
            </tr>
            <tr>
              <td>Ven - Dima:</td>
              <td>8am - 1am</td>
            </tr>
            <tr>
              <td>Sunday:</td>
              <td>9am - 10pm</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!--Grid column-->
    </div>
    <div class="text-center p-3">
      <span>© 2024 Copyright </span> <br />
      <a href="#" class="text-white">Finshop.com</a>
    </div>
  </div>
</footer>
