<div class="container my-3">
  <div class="d-flex justify-content-between align-items-center">
    <h4 class="text-black-50">Ma Boutique</h4>
    <div>
      <input
        type="search"
        name="Rechercher "
        placeholder="Rechercher quelque chose"
        width="450px"
        class="form-control"
      />
    </div>
    <div>
      <img
        src="../../../../assets/profile/person3.jpg"
        class="rounded-circle"
        width="36px"
        height="36px"
        alt=""
      />
    </div>
  </div>
</div>
